.choose-section {
    background-image: linear-gradient(0deg, #1A1A1A 0.72%, rgba(0, 0, 0, 0.05) 129.42%), url("/public/publicAssets/Rectangle 50.png");
    background-repeat: none;
    background-size: cover;
    color: #FFFFFF;
    height: 100vh;
    position: relative;
  }
  
  .top-right-choose {
    max-width: 31.25rem;
    margin: 3em 10em 0em auto;
    padding: 2em;
    text-align: right;
  }
  
  .green-block-section {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 4em;
    margin-left: 8em;
    gap: 1.25rem;
  }
  
  .each-block {
    background-color: #14A800;
    padding: 0.9em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.65rem;
    border-radius: 0.65rem;
    width: 25rem;
  }

  /* media query for a smaller screen */
@media screen and (max-width: 768px) {
  .choose-section {
    height: 50vh;
  }
  
  .top-right-choose {
    max-width: 15.5rem;
    margin: 1.5em 5em 0em auto;
    padding: 1em;
    text-align: right;
    font-size: 0.5rem;
  }
  
  .green-block-section {
    bottom: 2em;
    margin-left: 4em;
    gap: 0.6rem;
  }
  
  .each-block {
    background-color: #14A800;
    padding: 0.45em;
    gap: 0.3rem;
    border-radius: 0.3rem;
    width: 25vw;
    font-size: 0.5rem;
  }
  
  
}
  
  