.total-account-header{
    margin-top: 0px;
}
.account-list{
    list-style: none;
    display: flex;
    background: #00000008;
    margin-top: 0px;
    padding-left: 0px;
}
.each-account-list{
    padding: 10px 0px;
    width: 220px;
    text-align: center;
}
.each-account-list:hover{
    background-color: #FFFFFF;
}
.account-navigation{
    color: black;
    text-decoration: none;
}