.total-change-password{
    margin: 30px;
    width: 1060px;
}
.top-change-password{
    border-bottom: 0.5px solid #E5E5E5;
    margin-bottom: 20px;
}
.bottom-change-password{
    background-color: white;
    padding: 20px;
    height: 600px;
}
.delete-account-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border:1px solid #E5E5E5;
    padding: 20px 0px;
}
.strongPassword{
    font-size: 12px;
    margin:0px 20px
}
.change-pass-line{
    margin-left: 20px;
    margin-bottom: 0px;
}
.delete-acc-btn{
    background-color: transparent;
    border: none;
    color: #14A000;
    padding: 20px;
}
.password-input-padlock{
    display: flex;
    border:1px solid #E5E5E5;
    justify-content: space-between;
    padding: 20px;
}
.currentPassword,
.newPassword,
.reTypePassword{
    display: block;
    border: 1px solid #D8D8D8;
    width: 340px;
    background: #E5E5E526;
    padding: 10px;
    border-radius: 3px;
}
.crrent-password-section,
.new-password-section,
.re-type-password-section{
    margin-bottom: 10px;
}
label{
    padding: 10px 0px;
    font-size: 14px;
}
.save-password-changes-btn{
    width: 340px;
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: #14A000;
    color: white;
}