.total-chooseTime{
    box-shadow: 4px 4px 6px 0px #0000000D;
    margin: 50px 150px;
    padding: 0px 20px;
    background-color: white;
  }
  .choose-header{
    text-align: center;
  }
  .choose-section-total-bottom{
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .choosetime-image-div{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
  }
  .choosetimeImage{
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }
  .chooseTime-date-section{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  .choosetime-month,
  .choosetime-year{
    padding: 8px;
    width: 160px;
    border: 1px solid #00000099;
    border-radius: 6px;
  }
  .choosetime-day{
    width: 70px;
    padding: 8px;
    border: 1px solid #00000099;
    border-radius: 6px;
  }
  .choosetime-time{
    width: 420px;
    padding: 8px;
    border: 1px solid #00000099;
    border-radius: 6px;
  }
  .right-choosetime-section{
    background: #E5E5E536;
    padding: 20px;
  }
  .choose-time-button{
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: #14A800;
    color: white;
  }
  .confirm-time{
    display: flex;
  }
  .confirm-time-words{
    width: 220px;
  }
  .choosetime-left-words{
    width: 430px;
  }
  