.total-covid-banner {
    background-color: #14A800;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
  }
  
  .covid-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  
  }
  
  .learn-more-btn {
    color: #14A800;
    background-color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    gap: 10px;
    margin: 10px 10px;
  }
  
  .covid-exit-btn {
    border: none;
    background-color: transparent;
    margin: 30px 30px;
    color: white;
  }
  