.total-find-rate {
    margin: 2em 9em;
    padding: 1.9em 6.25em;
    background-color: white;
  }
  
  .find-rate-header {
    text-align: center;
  }
  
  .filter-button-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.62em;
  }
  
  .filter-button-section button,
  #sorted {
    padding: 0.8em 1.8em;
    border: 1px solid #D8D8D8;
    border-radius: 0.375;
  
  }
  
  .filter-button-section button:hover {
    background-color: #14A800;
    color: white;
  }
  
  #sorted {
    background: #14A8000D;
  }
  
  .total-bottom-findrate-section {
    display: flex;
    gap: 1.25em;
    margin-top: 2.5em;
    position: relative;
    /* align-items: center; */
    justify-content: center;
  }
  
  .bottom-left-section {
    border: 1px solid #00000017;
    width: 22.5em;
    padding: 0.62em;
    box-shadow: 0px 4px 4px 0px #00000026;
    max-height: 34.375em;
  
  }
  
  .sheild-learn-more-section {
    display: flex;
    align-items: center;
    gap: 0.62em;
    background: #14A8000D;
    padding: 0.5em 0.99em;
  
  
  }
  
  .sheildcheckmark {
    font-size: 1.5rem;
    color: #14A800;
  }
  
  .sheild-words {
    font-size: 0.75rem;
    line-height: 1.1em;
    width: 18.75rem;
  }
  
  .learn-more-green {
    color: #14A800;
  }
  
  .right-now-radio,
  .later-date-radio {
    border: 1px solid #14A800;
    display: inline;
    margin-right: 1.25em;
    padding: 0.5em 1.9em;
    color: #14A800;
    border-radius: 0.3em;
  }
  
  .right-now-radio:hover,
  .later-date-radio:hover {
    background-color: #14A800;
    color: white;
  }
  
  .tasktime-checkboxes {
    line-height: 2.5;
  }
  
  /* line on choose specific time */
  .choose-specific-time p {
    display: flex;
    flex-direction: row;
  }
  
  .choose-specific-time p:before,
  .choose-specific-time p:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
  }
  
  .choose-specific-time p:before {
    margin-right: 0.6em
  }
  
  .choose-specific-time p:after {
    margin-left: 0.6em
  }
  
  /*  */
  #select-flexible {
    width: 18.75em;
    padding: 0.6em;
  }
  
  .elite-checkbox {
    display: block;
    margin: 0.99em 0em;
  }
  
  .allAvailableCategory {
    border: 1px solid #00000017;
    box-shadow: 0px 4px 4px 0px #00000026;
    margin-bottom: 1.25em;
    min-width: 37.5em;
    padding: 1.25em;
  }
  
  .top-available-category {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  
  .eachCategoryImage {
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }
  
  .bottom-available-category {
    display: flex;
    gap: 0.6em;
  }
  
  .bottom-left-category h2,
  .bottom-left-category p {
    font-size: 0.75rem;
  }
  
  .select-continue-btn {
    background-color: #14A800;
    color: white;
    border: none;
    outline: none;
    padding: 0.6em;
    border-radius: 0.31em;
    text-decoration: none;
    margin: 1.25em 0em;
  }
  
  .bottom-right-words {
    border-bottom: 1px solid #00000017;
    border-top: 1px solid #00000017;
  }
  
  .bottom-right-words h2,
  .bottom-right-words p {
    font-size: 0.75rem;
  }
  
  .bottom-right-review {
    color: #14A800;
  }
  
  @media screen and (max-width: 768px) {
    .total-find-rate {
      margin:  0em;
      padding: 1em 3em;
      width: 100vw;
    }
    
    .find-rate-header {
      text-align: center;
      font-size: 0.8rem;
    }
    
    .filter-button-section {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.3em;
    }
    
    .filter-button-section button,
    #sorted {
      padding: 0.45em 1em;
      border: 1px solid #D8D8D8;
      border-radius: 0.3em;
      font-size: 0.5rem;
    }
    
    .filter-button-section button:hover {
      background-color: #14A800;
      color: white;
    }
    
    #sorted {
      background: #14A8000D;
    }
    
    .total-bottom-findrate-section {
      display: flex;
      gap: 0.6em;
      margin-top: 1.2em;
      position: relative;
      /* align-items: center; */
      justify-content: center;
      font-size: 0.5rem;
    }
    
    .bottom-left-section {
      border: 1px solid #00000017;
      width: 30vw;
      padding: 0.3em;
      box-shadow: 0em 0.35em 0.35em 0em #00000026;
      max-height: 90vh;
      font-size: 0.5rem;
    
    }
    
    .sheild-learn-more-section {
      display: flex;
      align-items: center;
      gap: 0.3em;
      background: #14A8000D;
      padding: 0.3em 0.45em;
    }
    
    .sheildcheckmark {
      font-size: 0.8rem;
      color: #14A800;
    }
    
    .sheild-words {
      font-size: 0.5rem;
      line-height: 9px;
      width: 30vw;
    }
    
    .learn-more-green {
      color: #14A800;
    }
    
    .right-now-radio,
    .later-date-radio {
      border: 1px solid #14A800;
      display: inline;
      /* margin-right: 0.6rem; */
      padding: 0.3em 1em;
      color: #14A800;
      border-radius: 0.3em;
      font-size: 0.5rem;
    }
    
    .right-now-radio:hover,
    .later-date-radio:hover {
      background-color: #14A800;
      color: white;
    }
    
    .tasktime-checkboxes {
      line-height: 2.5;
    }
    
    /* line on choose specific time */
    .choose-specific-time p {
      display: flex;
      flex-direction: row;
      font-size: 0.5rem;
    }
    
    .choose-specific-time p:before,
    .choose-specific-time p:after {
      content: "";
      flex: 1 1;
      border-bottom: 1px solid;
      margin: auto;
    }
    
    .choose-specific-time p:before {
      margin-right: 0.3em
    }
    
    .choose-specific-time p:after {
      margin-left: 0.3em
    }
    
    /*  */
    #select-flexible {
      width: 30vw;
      padding: 0.3em;
    }
    
    .elite-checkbox {
      display: block;
      margin: 0.45em 0em;
      font-size: 0.5rem;
    }
    
    .allAvailableCategory {
      border: 1px solid #00000017;
      box-shadow: 0px 4px 4px 0px #00000026;
      margin-bottom: 0.6rem;
      min-width: 60vw;
      padding: 0.6em;
    }
    
    .top-available-category {
      display: flex;
      justify-content: space-between;
      align-items: start;
    }
    
    .eachCategoryImage {
      width: 10vw;
      height: 10vh;
      border-radius: 50%;
    }
    
    .bottom-available-category {
      display: flex;
      gap: 0.3rem;
    }
    
    .bottom-left-category h2,
    .bottom-left-category p {
      font-size: 0.5rem;
    }
    
    .select-continue-btn {
      background-color: #14A800;
      color: white;
      border: none;
      outline: none;
      padding: 0.3em;
      border-radius: 0.3em;
      text-decoration: none;
      margin: 0.6em 0em;
    }
    
    .bottom-right-words {
      border-bottom: 1px solid #00000017;
      border-top: 1px solid #00000017;
    }
    
    .bottom-right-words h2,
    .bottom-right-words p {
      font-size: 0.5rem;
    }
    
    .bottom-right-review {
      color: #14A800;
    }
    .findrates-form{
      font-size: 0.5rem;
    }
  }