.hero-section {
    margin: auto;
    display: flex;
    align-items: center;
    padding: 30px;
  }
  
  .discover {
    width: 35vw;
    font-size: 4rem;
    margin-bottom: 5px;
  }
  
  .popular-span {
    border: 2px solid #14A80052;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
  }
  
  .popular-link {
    color: #14A800;
    text-decoration: none;
    cursor: pointer;
  }
  
  .hero-image {
    position: relative;
    width: 50vw;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    box-shadow: 40px -40px #14A80052;
    box-sizing: border-box;
    margin: 50px 50px 0px 0px;
  
  }
  .word-section {
    width: 50vw;
    align-self: center;
  }
  
  .popular-section {
    display: flex;
    align-items: baseline;
  }
  
  .search-input {
    margin: 0.8em 0.5em;
    display: flex;
  }
  
  .input-bar {
    text-indent: 20px;
    padding: 0.7em;
    width: 20vw;
    border-radius: 5px 0px 0px 5px;
    font-size: 0.7rem;
    border: 1px solid #E5E5E5;
    color: #E5E5E5;
  }
  
.search-bar {
    margin: 0;
    padding: 0.5em;
    border-radius: 0px 5px 5px 0px;
    width: 5vw;
  }
  
  .position-search-icon {
    position: relative;
  
  }
  
  .search-icon {
    position: absolute;
    top: 0.5em;
    left: 0;
    color: #E5E5E5;
    padding-left: 10px;
    /* font-size: 16px; */
  }
  
  .downward-arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 2px 5px whitesmoke;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }

/* media query for a smaller screen */
  @media screen and (max-width: 768px) {
    body {
      width: 100%;
    }
    .hero-section {
      padding: 0.5em;
      display: flex;
      margin: none;
    }
    
    .discover {
      width: 10vw;
      font-size: 1.3rem;
      margin-bottom: 0.6em;
    }
    .fastest-words{
      font-size: 0.8rem;
    }
    .popular-span {
      border: 2px solid #14A80052;
      padding: 0.3rem;
      margin: 0.1rem;
      box-sizing: border-box;
      font-size: 0.5rem;
      white-space: nowrap;
    }
    .popular-word{
      font-size: 0.5rem;
    }
    .popular-link {
      color: #14A800;
      text-decoration: none;
      cursor: pointer;
      font-size: 0.5rem;
    }
    
    .hero-image {
      position: relative;
      width: 50vw;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 50px;
      box-shadow: 20px -20px #14A80052;
      box-sizing: border-box;
      margin: 25px 25px 0px 0px;
    
    }
    .word-section {
      width: 40vw;
      align-self: center;
    }
    
    .popular-section {
      display: flex;
      align-items: baseline;
    }
    
    .search-input {
      margin: 0.4em 0.25em;
      display: flex;
    }
    
    .input-bar {
      text-indent: 10px;
      padding: 2em;
      width: 20vw;
      border-radius: 2px 0px 0px 2px;
      font-size: 0.3rem;
      border: 1px solid #E5E5E5;
      color: #E5E5E5;
    }
    
   .search-bar {
      padding: 0em;
      border-radius: 0em 0.1em 0.1em 0em;
      width: 6vw;
      font-size: 0.3rem;
      text-align: center;
    } 
    
    .position-search-icon {
      position: relative;
    
    }
    
    .search-icon {
      position: absolute;
      top: 0.5em;
      left: 0;
      color: #E5E5E5;
      padding-left: 5px;
      font-size: 0.8rem;
    }
    
    .downward-arrow {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: none;
      background-color: white;
      box-shadow: 0px 0px 2px 5px whitesmoke;
      display: block;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
    }
  
  
  

  }